.home-container {
  ///
  .header-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
    .top-product-grid {
      .small-products-grid {
        height: 100%;
        width: 100%;
        display: grid;
        margin-top: 1rem;
        grid-template-columns: repeat(2, minmax(0, 1fr));

        //   small Product
      }
    }
  }

  // Special Products and Shop
  .special-products {
    display: flex;
    justify-content: space-around;
    align-items: center;

    > h1 {
    }
    .link-shop {
      background-color: rgb(235, 97, 184);
      font-weight: bold;
      border-radius: 20px;

      color: black;
    }
  }

  // Product container
  .product-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    overflow: hidden;

    > :last-child {
      margin-right: auto;
    }
  }
}
