.product-main {
  .carousel-slider {
    .carousel-slide {
      > img {
        width: auto;
        height: auto;
        object-fit: cover;
        border-radius: 10px;
        align-self: center;
      }
      //   carousel-slide-info

      .carousel-slide-info {
        padding: 1rem;
        width: 100%;
        display: flex;
        justify-content: space-between;

        .carousel-slide-name {
          > h2 {
            font-weight: 400;
          }
          .description {
            margin-top: 10px;
          }
        }

        .carousel-slide-brand-rate {
          display: flex;
          justify-content: space-between;
          .carousel-slide-brand {
            > h1 {
              display: flex;
              align-items: center;
              font-size: 12px;
              font-weight: 400;

              .icon {
                margin-right: 8px;
                font-size: 14px;
              }
            }
          }
          .carousel-slide-rate {
            > h1 {
              display: flex;
              align-items: center;
              font-size: 12px;
              font-weight: 400;

              .icon {
                margin-right: 8px;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
