// Product
.product {
  width: 20rem;
  margin-top: 2rem;
  padding: 12px;
  position: relative;

  .one {
    position: relative;

    > img {
      width: 20rem;
      border-radius: 10px;
      object-fit: cover;
    }
  }

  .two {
    padding: 0 1rem;
    .two-link {
      > h2 {
        display: flex;
        justify-content: space-between;
        align-items: center;

        > div {
          font-size: 18px;
          color: black;
          font-weight: 400;
        }
        > span {
          background-color: rgb(220, 106, 156);
          color: white;
          font-size: 14px;
          font-weight: 600;
          margin-right: 8px;
          padding: 2px 10px;
          border-radius: 10px;
        }
      }
    }
  }
}
