@import "navigation";
@import "header";
@import "productCarousel";
@import "mediaQuery";
@import "heartIcon";
@import "productDetails";
@import "productTabs";
@import "smallProduct";
@import "shop";
@import "productCard";
@import "login";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}
